:root {
    --font-size-base: clamp(0.75rem, 2vw, 1rem);  /* 12px - 2% - 16px */
    --line-height-base: 1.6;
    --text-color: #FEFAEB;
    --background-color: #444444;
    --container-width: 90%;
    --max-width-container: 75rem; /* 1200px */
    --spacing: clamp(1rem, 2vw, 2rem);
  }
  
  body {
    font: var(--font-size-base) / var(--line-height-base) "Lato", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin-top: calc(var(--spacing) * 2.5);
  }