.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.education__title {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none; /* Elimina los bullets de la lista */
  padding: 0; /* Reinicia el padding de la lista */
  margin: 0; /* Reinicia el margen de la lista */
}

.education__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education__item-logo {
  width: auto;
  height: 7.375rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1.25rem 2.5rem -0.875rem rgba(0, 0, 0, 0.5);
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education__item-logo-image {
  width: 4.375rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.education__item:hover .education__item-logo-image {
  width: auto;
  height: 100%;
}

.education__item-institution {
  font-size: 1rem;
  font-weight: 700;
}

.education__item-title {
  font-size: 0.875rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .education__list {
    flex-direction: row;
  }

  .education__item {
    flex: 1;
  }

  .education__item-logo-image {
    width: 5.25rem;
    height: 3.625rem;
  }
}

@media screen and (min-width: 1024px) {
  .education {
    padding: 4rem;
  }

  .education__title {
    font-size: 2rem;
  }

  .education__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .education__item {
    flex: 0;
  }

  .education__item-logo {
    width: 23rem;
    height: 17.875rem;
  }

  .education__item-logo-image {
    width: 12rem;
    height: 8.125rem;
  }

  .education__item-institution {
    font-size: 1.375rem;
  }

  .education__item-title {
    font-size: 1rem;
  }
}