.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #343A40;
}

.footer__rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__rodape__div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__rodape__img {
    width: auto;
    height: 2rem;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: .75rem;
    }

    .footer__rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__rodape__div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}