.main {
  display: flex;
  flex-direction: column;
}

.main__section {
  scroll-margin-top: 80px;
}

.main__section:nth-child(odd) {
  background-color: #373737;
}

@media screen and (min-width: 1024px) {
  .main {
    gap: 2rem;
  }
}
