:root {
    --projects-font-size: var(--font-size-base);
    --projects-gap: var(--spacing);
    --projects-padding: var(--spacing);
    --projects-button-github-bg: #1A7F37;
    --projects-button-demo-bg: #040642;
    --projects-shadow: 0 0 10px 5px rgba(28, 32, 31, 0.5), inset 0 0 10px 5px rgba(28, 32, 31, 0.5);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--projects-gap);
    padding: var(--projects-padding);
}

.projects__title {
    font-size: calc(var(--services-font-size) * 2);
    font-weight: 700;
    text-align: center;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: var(--projects-gap);
    list-style: none;
}

.projects__item {
    display: flex;
    flex-direction: column;
    gap: var(--projects-gap);
    margin-bottom: var(--spacing);
}

.projects__item:last-child {
    margin-bottom: 0;
}

.projects__image {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: var(--projects-shadow);
}

.projects__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--projects-gap) * 0.1);
}

.projects__name {
    font-size: calc(var(--services-font-size) * 1.2);
    font-weight: 700;
}

.projects__description {
    font-size: var(--services-font-size);
    font-weight: 400;
    font-style: italic;
}

.projects__keypad {
    display: flex;
    gap: calc(var(--projects-gap) * 0.5);
}

.projects__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--projects-gap) * 0.5);
    font-size: var(--services-font-size);
    font-weight: 400;
    color: #fff;
    border-radius: 0.3125rem;
    padding: calc(var(--projects-padding) * 0.2) calc(var(--projects-padding) * 0.8);
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects__button:hover {
    filter: brightness(0.7);
}

.projects__button:nth-child(1) {
    background: var(--projects-button-github-bg);
}

.projects__button:nth-child(2) {
    background: var(--projects-button-demo-bg);
}

@media screen and (min-width: 1024px) {
    .projects__item {
        flex-direction: row;
        align-items: center;
    }

    .projects__item:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        margin-left: auto;
    }

    .projects__image {
        width: calc(var(--spacing) * 20);
    }

    .projects__info {
        align-items: normal;
        flex: 1 0 0; /* Equivalente a: "Puede crecer (flex-grow: 1), no encoge (flex-shrink: 0) y sin tamaño base (flex-basis: 0) */
    }
}