:root {
    --services-gap: var(--spacing);
    --services-padding: var(--spacing);
    --services-title-color: #373737;
    --services-text-color: #444444;
    --services-item-bg: #F5F5F5;
    --services-item-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    --services-icon-color: #222222;
    --services-title-font-size: calc(var(--font-size-base) * 2);
    --services-item-title-font-size: calc(var(--font-size-base) * 1.2);
    --services-item-line-height: calc(var(--line-height-base) * 0.8);
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--services-gap);
    padding: var(--services-padding);
}

.services__title {
    font-size: var(--services-title-font-size);
    font-weight: 700;
    text-align: center;
}

.services__list {
    display: flex;
    flex-direction: column;
    gap: var(--services-gap);
    list-style: none;
    width: var(--container-width);
    max-width: var(--max-width-container);
}

.services__item {
    text-align: center;
    background: var(--services-item-bg);
    border-radius: 0.5rem;
    box-shadow: var(--services-item-shadow);
    transition: transform 0.3s ease;
    padding: var(--services-gap);
}

.services__item:hover {
    transform: translateY(-0.625rem);
}

.services__item-icon {
    color: var(--services-icon-color);
}

.services__item-title {
    font-size: var(--services-item-title-font-size);
    font-weight: 700;
    color: var(--services-title-color);
}

.services__item-description {
    font-size: var(--font-size-base);
    font-weight: 400;
    line-height: var(--services-item-line-height);
    color: var(--services-text-color);
}

@media screen and (min-width: 768px) {
    .services__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .services__item {
        flex: 1 1 calc(50% - var(--services-gap));
    }
}

@media screen and (min-width: 1024px) {
    .services__item {
        flex: 1 1 calc(33.333% - var(--services-gap));
    }
}