.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3.75rem 0; /* 60px -> 3.75rem */
  }
  
  .services__title {
    text-align: center;
    margin-bottom: 2.5rem; /* 40px -> 2.5rem */
    font-size: 2em;
  }
  
  .services__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px -> 1.25rem */
    width: 90%;
    max-width: 75rem; /* 1200px -> 75rem */
    margin: auto;
    list-style: none; /* Elimina los bullets de la lista */
    padding: 0; /* Reinicia el padding de la lista */
    margin: 0; /* Reinicia el margen de la lista */
  }
  
  .services__item {
    background: #f9f9f9;
    padding: 1.25rem; /* 20px -> 1.25rem */
    border-radius: 0.5rem; /* 8px -> 0.5rem */
    text-align: center;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* 2px -> 0.125rem, 5px -> 0.3125rem */
    transition: transform 0.3s ease;
    flex: 1; /* Permite que los elementos ocupen el mismo espacio disponible */
  }
  
  .services__item:hover {
    transform: translateY(-0.625rem); /* 10px -> 0.625rem */
  }
  
  .services__item-icon {
    color: #222222;
    margin-bottom: 0.625rem; /* 10px -> 0.625rem */
  }
  
  .services__item-title {
    color: #373737;
    margin-bottom: 0.3125rem; /* 5px -> 0.3125rem */
  }
  
  .services__item-description {
    font-size: 0.9rem;
    color: #444444;
  }
  
  /* Media Queries */
  @media screen and (min-width: 48rem) { /* 768px -> 48rem */
    .services__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .services__item {
      flex: 1 1 calc(50% - 1.25rem); /* Dos columnas con espacio entre ellas */
    }
  }
  
  @media screen and (min-width: 64rem) { /* 1024px -> 64rem */
    .services__item {
      flex: 1 1 calc(33.33% - 1.25rem); /* Tres columnas con espacio entre ellas */
    }
  }