:root {
    --main-bg-color-odd: #373737;
    --main-gap: var(--spacing);
    --main-scroll-margin: var(--header-height);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.main__section {
    display: flex;
    justify-content: center;
    scroll-margin-top: var(--main-scroll-margin);
    min-height: calc(100vh - var(--header-height));
    width: 100%;
}

.main__section:nth-child(odd) {
    background-color: var(--main-bg-color-odd);
}